@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "pricedown";
  src: url("/pricedown.otf");
}
html, body{
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}


html {
  height: 100%;
}
body {
  margin: 0;
}